{% macro input(name, value, type = "text", help) %}
    <div class="form-group">
        <label for="input{{ name }}">{{ name|title }}</label>
        <input class="form-control" type="{{ type|default("text") }}" id="input{{ name }}" name="{{ name }}" value="{{ value|e }}" placeholder="Enter your {{ name }}" />
        {% if help %}<small class="form-text text-muted">{{ help }}</small>{% endif %}
    </div>
{% endmacro %}

{% macro textarea(name, value, rows=5, help) %}
    <div class="form-group">
        <label for="input{{ name }}">{{ name|title }}</label>
        {% if help %}<small class="form-text text-muted">{{ help }}</small>{% endif %}
        <textarea class="form-control" id="input{{ name }}" name="{{ name }}" placeholder="Enter your {{ name }}" rows="{{ rows }}">{{ value|e }}</textarea>
    </div>
{% endmacro %}