{% extends "base.twig" %}

{% block title %}Welcome Home{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1 { color: #336699; }
    </style>
{% endblock %}
{% block content %}
        <h1>Hello <em>{% if name is not empty %}
        {{- name|title -}}
        {% else -%}
        World
        {%- endif %}!</em></h1>

        {% if date() < date("2020-01-01") %}
        {% set difference  = date().diff(date("2020-01-01")) %}
        {{ difference.days }} days until 2020
        {% else%}
        I can see clearly now
        {% endif %}
  
        {#
        {{ nav|keys|join(",") }}
        {{-"<em>"~name~"</em>"|title|raw-}}
        {% set namestr= '<em>'~name~'</em>'%}
        {{-namestr|title|raw-}}
        {{-"<em>world</em>"|title|raw-}}
        {{-"<em>world</em>"-}}
        {% filter upper|raw -%}
        <em>world<em>
        {%- endfilter %}

        {{"{{name}}"}}
        {%verbatim%}
        <h2>{{name}}</h2>
        {% endverbatim %}
        #}
{% endblock %}
